<div class="card">

    <h1 class="header">Login</h1>

    <form [formGroup]="loginForm" class="form" (ngSubmit)="onLogin(loginForm.value)">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="username" formControlName="username">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="password" formControlName="password">
        </div>

        <div class="form-footer">
            <button class="btn btn-round" type="submit">Login</button>
            <button class="btn btn-link" type="reset">New User ?</button>
        </div>
    </form>

</div>